@media screen and (min-width: 481px) {
    .products.main .item,
    .widgets .row {
       flex: 0 0 50%;
    }
}

@media screen and (min-width: 768px){
    .products .price .current {
        font-size: 1.25em;
    }
    .products.mini,
    .banner .row {
        flex: 0 0 50%;
    }
    .products.main .item {
        flex: 0 0 33.3333%;
    }
}

@media screen and (min-width: 960px) {
    .container {
        padding: 0 2em;
    }
    .desktop-hide {
        display: none;
    }
    .mobile-hide {
        display: block;
    }
    .logo a {
        margin-right: 2em;
    }
    .header-nav {
        margin: 0;
        padding: 0;
        border-bottom: 0;
    }
    .header-nav .right li > a {
        margin-left: 1em;
    }

    /* Mega Menu */
    nav .mega {
        position: absolute;
        width: 100%;
        height: auto;
        top: auto;
        left: 0;
        right: 0;
        line-height: 2em;
        padding: 2.5em;
        background-color: var(--light-bg-color);
        box-shadow: 0 30px 20px -30px rgb(0 0 0 / 20%) ;
        z-index: 100;
        display: none;
    }
    nav li.has-child:hover .mega {
        display: block;
    }
    nav .mega .wrapper {
        display: flex;
    }
    nav .mega h4 {
        font-size: 0.8em;
        text-transform: uppercase;
    }
    nav .mega ul {
        font-size: var(--font-small);
    }
    nav .mega .women-brands {
        display: flex;
        flex-wrap: wrap;
        max-width: 180px;
    }
    nav .mega .women-brands li {
        min-width: 80px;
    }
    nav .mega .view-all {
        margin-top: 1em;
    }
    nav .mega .product {
        flex: 2;
        padding: 0;
        position: relative;
        align-items: center;
    }
    nav .mega .product .row {
        width: var(--percent100);
    }
    nav .mega .product .media {
        height: 400px;
    }
    nav .mega .product .text-content {
        line-height: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
        gap: 0.5em;
        position: absolute;
        bottom: 4em;
        width: var(--percent100);
    }
    nav .mega .product .text-content h4 {
        font-size: 2em;
        font-weight: var(--fw8);
        color: var(--secondary-dark-color);
        text-align: center;
    }
    .header-main .right {
        max-width: 600px;
        margin-left: auto;
    }

    /* Department Menu */
    .dpt-menu {
        position: absolute;
        top: var(--percent100);
        width: var(--percent100);
        background-color: var(--white-color);
        border: 1px solid var(--border-color);
        border-bottom: 0;
        border-top: 0;
    }
    .dpt-menu > ul > li > a {
        font-weight: var(--fw5);
        padding: 0 1.5em;
        border-bottom: 1px solid var(--border-color)
    }

    /* Child Menu */
    .dpt-menu .has-child > ul, .dpt-menu .mega {  
        position: absolute;
        top: 0;
        left: var(--percent100);
        border: 1px solid var(--border-color);
        border-top: 0;
        width: var(--percent100);
        height: auto;
        min-height: var(--percent100);
        font-size: var(--font-small);
        padding: 1.5em;
        line-height: 2.5em;
        display: none;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
        
    } 
    .dpt-menu .beauty ul {
        background-image: url(assets/menu/menu_bg1.jpg);
    }
    .dpt-menu .electric ul {
        background-image: url(assets/menu/menu_bg2.jpg);
    }
    .dpt-menu .fashion ul {
        background-image: url(assets/menu/menu_bg3.jpg);
    }
    .dpt-menu .homekit .mega{
        background-image: url(assets/menu/menu_bg4.jpg);
    }
    .dpt-menu .has-child > :where(ul,.mega)::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgb(235, 235, 235) 0%, rgba(255, 255, 255, 0) 100%);
    }
    .dpt-menu .mega {
        width: auto;
        min-width: var(--percent100);
    }
    .dpt-menu .mega .flexcol {
        z-index: 1;
    }
    .dpt-menu .has-child:hover .mega {
        display: flex;
    }
    .dpt-menu .mega .row {
        width: max-content;
        padding-right: 6em;
    }

     /* Slider */
     .slider > div > .wrapper {
        width: calc(100% - (300px + 2em));
        margin-left: auto;
    }
    
    /* Trending Products and Product category Banner*/
    .trending .products,
    .product-cat .row{
        flex: 0 0 33.3333%;
    }
    .trending .products.big .media {
        max-height: 373px;
    }

    /* Featured Products and Widgets */
    .products.main .item,
    .widgets .row {
        flex: 0 0 25%;
    }

    /* Newsletter */
    .newsletter .box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}